@font-face {
  font-family: 'Azeroth';
  src: url('../fonts/Azeroth.eot');
  src: local('☺'),
  url('../fonts/Azeroth.woff') format('woff'),
  url('../fonts/Azeroth.ttf') format('truetype'),
  url('../fonts/Azeroth.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'FrizQuadrataC';
	src: url('../fonts/FrizQuadrataC.eot');
	src: local('☺'), url('../fonts/FrizQuadrataC.woff') format('woff'), url('../fonts/FrizQuadrataC.ttf') format('truetype'), url('../fonts/FrizQuadrataC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Morpheus';
	src: url('../fonts/Morpheus.eot');
	src: local('☺'), url('../fonts/Morpheus.woff') format('woff'), url('../fonts/Morpheus.ttf') format('truetype'), url('../fonts/Morpheus.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Обнуление страницы */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  /* min-width: 1180px; */
}

body {
  line-height: 1;
  font-family: $fontFamily;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: $fontFamily;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//-webkit-overflow-scrolling: touch;
/* //animation-play-state: paused !important; */



============

/* Блок контента */
=======================================================================
body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  }
  .toTop {
  }
  .btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 7px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    background: #781512;
    border: 5px outset #6b1411;
    color: white;
    font-size: 20px;
    font-family: 'Morpheus';
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
  
.wrapper {
  background: url('../img/wow-varkraft-simvol\ \(2\).webp') center / cover no-repeat fixed;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1180px;
  color: white; 
  margin: 5px;
  padding: 5px;
  margin: 0px auto;
  flex: 1 0 auto;
}
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #545454; */
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: url('../img/dragon-bg.jpg') center / cover no-repeat;
  ;
}

.header__logo {
  flex: 0 0 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  /* автоматическое подстраивание картинки */
  max-width: 100%;
  /* если у картинки есть подрезание снизу (не круглая) */
  display: block;
  
}
.header__guild  {
  font-family: 'Azeroth';
font-size: 26px;
color: #0D1A3D;
-webkit-text-stroke: 1px rgba(108, 255, 255, 1);
-webkit-text-fill-color: #0D1A3D;
justify-content: center;
text-align: center;
flex: 0 1 auto;
padding: 5px;
z-index: 3;

}
@media (max-width: 320px){
  .header__guild {
font-size: 16px;
  }
}

.header__burger {
  display: none;
}

.header__menu {}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;

}

.heder__link {
  
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-family: 'FrizQuadrataC';
  /* padding: 20px;
  margin: 20px 0px; */
  cursor: pointer;
}
.heder__link:hover {
  color: #6CFFFF;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/dragon-eye.jpg') center / cover no-repeat;
    ;
    padding: 70px 10px 20px 20px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }
}

===============/* Исправления */===============================================================

.hi-block {
  
}

.hi-block__body {
  display: flex;
  flex-direction: column;
  margin: 100px 0px 0px 0px;
}

.hi-block__image{
  margin: 0 auto;
}

.hi-block__image img{
  max-height: 400px;
  object-fit: contain;
  padding: 0px 20px; 
 
}

.hi-block__greet {
  margin: 5px;
  padding: 20px 0px;
}

.hi-block__title,
.article__title,
.usefull {
  font-size: 30px;
  color: white;
  font-family: 'FrizQuadrataC';
  padding: 20px 0px;
  margin: 10px 0px;
  text-align: center;
}

.hi-block__subtitle {}

.hi-block__text,
.article__text, 
.usefull__text {
  font-size: 20px;
  color: white;
  font-family: 'PT Sans';
  padding: 10px 0px;
  margin: 10px 0px;
}
.hi-block__text p{
  margin: 10px 0px;
  padding: 0px 0px 0px 0px;
}
.hi-block__text a{
  color: #9DE2F0;
}
.hi-block__text a:visited{
  color:#02C092;
}
.hi-block__text a:hover {
  color: #FF0103;
}
.hi-block__text ul{
  padding: 20px;
}
.hi-block__text li{
  background: url('../img/Horde_shield.png') 0 0/32px 32px no-repeat;
  padding: 0px 0px 30px 40px;
}

.races {}

.container {
  font-family: 'PT Sans';
  font-size: 20px;
}

.races__title,
.allied-races__title {
  font-family: 'Morpheus';
  font-size: 20px;
  padding: 20px;
}

.races__body {}

.races__row,
.allied-races__row {
  display: flex;
  flex-wrap: wrap;
}

.races__column,
.allied-races__column {
  margin: 0 auto;
}

.races__item {
  /* display: flex;
  flex-direction: column; */
}

.races__label,
.allied-races__label {
  	font-family: 'FrizQuadrataC';
    font-size: 20px;
    text-align: center;
    padding: 0px 5px;
}

.races__image,
.allied-races__image {
  flex: 0 1 auto;
}
.races__image img,
.allied-races__image img{
  max-height: 250px;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 765px) {
  .races__row,
  .allied-races__row{
    display: none;
  }
}



.article__body {}

.article__title {}

.article__image{
 
}
.article__image img{
  max-height: 400px;
  object-fit: cover;
   margin: 0 auto;
  
}

.article__text {}

.usefull {
}
.usefull__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -5px;
  justify-content: space-between;

}
.usefull__column {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  flex: 0 1 25%;
  margin: 5px 0px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid rgb(20, 117, 161);
  
}
.usefull__column_image{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 200px;
  flex: 0 1 auto;
  align-items: stretch;
  
}
.usefull__column_image img{
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}
.usefull__title {
  font-family: 'Morpheus';
  font-size: 25px;
  color: white;
  text-align: center;
}
.usefull__title a{
  display: block;
  color: white;
  border: 5px outset #000;
  background: rgb(167, 7, 7);
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.usefull__text {
  margin: 10px;
  padding: 10px;
}

.footer {
  background: #0d1a3d81;
  min-height: 50px;  
  overflow: hidden;
  color: white;
  font-family: "PT Sans", sans-serif;
}
.footer__body {
  display: flex;
  flex-direction: row;
}
.footer__about {
  flex: 1 1 50%;
}
.footer__about_image img{
  /* max-width: 300px; */
  max-height: 100%;
  object-fit: cover;
}
.footer__about_title {
  padding: 3px;
  text-align: center;
}
.footer__about_text {
  padding: 20px;
}
.footer__about_text a{
  text-decoration: none;
  color: white;
}
.footer__forms{
  margin: 20px;
  padding: 20px;
}