@font-face {
  font-family: 'Azeroth';
  src: url('../fonts/Azeroth.eot');
  src: local('☺'),
  url('../fonts/Azeroth.woff') format('woff'),
  url('../fonts/Azeroth.ttf') format('truetype'),
  url('../fonts/Azeroth.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'FrizQuadrataC';
	src: url('../fonts/FrizQuadrataC.eot');
	src: local('☺'), url('../fonts/FrizQuadrataC.woff') format('woff'), url('../fonts/FrizQuadrataC.ttf') format('truetype'), url('../fonts/FrizQuadrataC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Morpheus';
	src: url('../fonts/Morpheus.eot');
	src: local('☺'), url('../fonts/Morpheus.woff') format('woff'), url('../fonts/Morpheus.ttf') format('truetype'), url('../fonts/Morpheus.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RUSNeverwinter';
	src: url('../fonts/RUSNeverwinter.eot');
	src: local('☺'), url('../fonts/RUSNeverwinter.woff') format('woff'), url('../fonts/RUSNeverwinter.ttf') format('truetype'), url('../fonts/RUSNeverwinter.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Обнуление страницы */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  /* min-width: 1180px; */
}

body {
  line-height: 1;
  font-family: $fontFamily;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: $fontFamily;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//-webkit-overflow-scrolling: touch;
/* //animation-play-state: paused !important; */



============

/* Блок контента */
=======================================================================
body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  }
  .toTop {
  }
  .btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 7px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    background: #781512;
    border: 5px outset #6b1411;
    color: white;
    font-size: 20px;
    font-family: 'Morpheus';
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
  
.wrapper {
  background: url('../img/wow-varkraft-simvol\ \(2\).webp') center / cover no-repeat fixed;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1180px;
  color: white; 
  margin: 5px;
  padding: 5px;
  margin: 0px auto;
  flex: 1 0 auto;
}
.menu__body {
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.menu__link {
  font-size: 30px;
  color: white;
  font-family: 'FrizQuadrataC';
  padding: 20px;
  margin: 20px 0px;
  cursor: pointer;
}
.menu__link:hover {
  color: #6CFFFF;

}

.footer {
  background: #0D1A3D;
  min-height: 200px;  
  overflow: hidden;
  color: white;
  font-family: "PT Sans", sans-serif;
}